<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Elearning</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>3000</session-timeout>
  </session-config>
  <listener>
    <listener-class>routing.Route</listener-class>
  </listener>
  <filter>
    <filter-name>RoutesFilter</filter-name>
    <filter-class>org.baswell.routes.RoutesFilter</filter-class>
    <init-param>
      <param-name>ONLY</param-name>
      <param-value>/.*,/data/.*</param-value>
    </init-param>
    <init-param>
      <param-name>EXCEPT</param-name>
      <param-value>.*\.html$,.*\.jsp$</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>RoutesFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>